.toggleButton {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 45px;
  width: 180px;
  border-radius: 6px;
  background: var(--gray100);
}
.toggleButton button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 90px;
  border: none;
}

.toggleButton button.on {
  color: var(--gray900);
}

.toggleButton button:disabled {
  border: 2px solid var(--purple600);
  background: var(--white);
  font-weight: 700;
  color: var(--purple700);
}
