.gotoPostButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 218px;
  padding: 24px 0;
}

@media screen and (max-width: 1024px) {
  .gotoPostButton a {
    width: 100%;
  }
  .gotoPostButton a button {
    width: 100%;
  }
}
