html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* 추가 reset */
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('../fonts/pretendard/Pretendard-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('../fonts/pretendard/Pretendard-Regular.ttf') format('truetype');
}
html {
  font-family: 'Pretendard';
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* 20240227_임동현 selct 화살표 제거 */
select::-ms-expand {
  display: none;
}
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 20240229_임동현 높이값 추가 */
html,
body,
#root {
  height: 100%;
}

/* 20240303_임동현 search 수정 */
/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
