.postIdNav {
  margin: 13px 0;
  padding: 0 24px;
}
.postIdNav > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.highlight {
  font-size: 18px;
  font-weight: 700;
}

.postIdNav > div > div:first-child {
  overflow: hidden;
  max-width: 500px;
}
.postIdNav > div > div:first-child p {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  padding-right: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.messageUsers {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-right: 28px;
  height: 28px;
}

.postIdNav div {
  display: flex;
  align-items: center;
}
.messageUsers p {
  font-size: 18px;
  line-height: 27px;
}

.line {
  border-left: 1px solid #000;
  height: 100%;
}

.emoji {
  margin-left: 28px;
  margin-right: 8px;
  display: flex;
  position: relative;
}

.emoji ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

.emoji button {
  cursor: pointer;
  border: 0px;
  background-color: white;
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.buttonSection {
  gap: 13px;
}

.toggle {
  width: 14px;
}
@media screen and (max-width: 1024px) {
  .postIdNav .messageUsers {
    display: none;
  }
  .messageUserLine {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .postIdNav {
    padding: 0;
    margin: 0;
  }
  .postIdNav > div {
    display: block;
    padding: 0;
    margin: 0;
  }
  .postIdNav > div > div:first-child {
    max-width: 100%;
    padding: 12px 20px;
  }
  .buttonSection {
    gap: 15px;
  }
  .emoji {
    margin-left: 0;
  }
}
