.postIdNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 13px auto;
  width: 100%;
  padding: 0 24px;
}

.highlight {
  font-size: 18px;
  font-weight: 700;
}

.postIdNav > div:first-child {
  overflow: hidden;
  max-width: 500px;
}
.postIdNav > div:first-child p {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  padding-right: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.postIdNavUtil {
  flex-shrink: 0;
}
.messageUsers {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-right: 28px;
  height: 28px;
}

.postIdNav div {
  display: flex;
  align-items: center;
}
.messageUsers p {
  font-size: 18px;
  line-height: 27px;
}

.line {
  border-left: 1px solid #000;
  height: 100%;
}

.emoji {
  margin-left: 28px;
  margin-right: 8px;
  display: flex;
  gap: 2px;
  position: relative;
}

.emoji ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

.emoji button {
  border: 0px;
  background-color: white;
  width: 36px;
  height: 36px;
}

.buttonSection {
  gap: 13px;
}

.addEmoji {
  flex-direction: column;
  position: relative;
}

.addEmoji > div:nth-child(2) {
  position: absolute;
  top: 50px;
  right: -50px;
  z-index: 5;
}

.share {
  position: relative;
}

.share > div {
  position: absolute;
  z-index: 5;
  top: 50px;
  right: -40px;
}

.toggle {
  width: 14px;
}
@media screen and (max-width: 1024px) {
  .postIdNav .messageUsers {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .postIdNav {
    display: block;
    padding: 0;
    margin: 0;
  }
  .postIdNav > div:first-child {
    max-width: 100%;
    padding: 12px 20px;
  }
  .postIdNavUtil {
    padding: 8px 20px;
    border-top: 1px solid var(--gray200);
  }
  .emoji {
    margin-left: 0;
  }
}
