.backgroundColor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  justify-content: space-between;
  gap: 16px;
}
.backgroundColorBox {
  display: flex;
}
.backgroundColor button {
  border-radius: 16px;
  width: 100%;
  padding-bottom: 100%;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.backgroundColor button.beige {
  background: var(--orange200);
}

.backgroundColor button.purple {
  background: var(--purple200);
}

.backgroundColor button.blue {
  background: var(--blue200);
}

.backgroundColor button.green {
  background: var(--green200);
}

.backgroundColor .backgroundColorBox {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.backgroundColor .backgroundColorBox button {
  cursor: pointer;
}
.backgroundColor .backgroundColorBox:nth-of-type(1):hover {
  border: 2px solid var(--orange500);
}
.backgroundColor .backgroundColorBox:nth-of-type(2):hover {
  border: 2px solid var(--purple500);
}
.backgroundColor .backgroundColorBox:nth-of-type(3):hover {
  border: 2px solid var(--blue500);
}
.backgroundColor .backgroundColorBox:nth-of-type(4):hover {
  border: 2px solid var(--green500);
}

@media screen and (max-width: 768px) {
  .backgroundColor {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}
