.backgroundColor {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}

.backgroundColor button {
  width: 168px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
}

.backgroundColor button.beige {
  background: var(--orange200);
}

.backgroundColor button.purple {
  background: var(--purple200);
}

.backgroundColor button.blue {
  background: var(--blue200);
}

.backgroundColor button.green {
  background: var(--green200);
}

.backgroundColor .backgroundColorBox {
  position: relative;
}

.backgroundColor button.beige:hover {
  border: 2px solid var(--orange500);
}
.backgroundColor button.purple:hover {
  border: 2px solid var(--purple500);
}
.backgroundColor button.blue:hover {
  border: 2px solid var(--blue500);
}
.backgroundColor button.green:hover {
  border: 2px solid var(--green500);
}
