.toastStyle {
  position: 'fixed';
  bottom: '20px';
  left: '50%';
  transform: 'translateX(-50%)';
  background-color: '#333';
  color: '#fff';
  padding: '10px 20px';
  border-radius: '5px';
}

.share {
  box-shadow: 0px 2px 12px 0px #00000014;
  border: 1px solid #cccccc;
  background: #ffffff;
  width: 140px;
  height: 120px;
  padding: 10px, 1px, 10px, 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.share li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share li:hover {
  background-color: #f0f0f0; /* 회색 배경색 */
  cursor: pointer; /* 포인터 커서로 변경 */
}
