.profileImg {
  display: flex;
}

.profileImg img {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  border-radius: 50px;
  border: 1.5px solid var(--white);
  background: var(--white);
}
