.textInput {
  display: flex;
  width: 320px;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray300);
  background: var(--white);
  color: var(--gray500);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.16px;
}

.textInput:hover {
  border: 1px solid var(--gray500);
}

.textInput:focus {
  border: 1px solid var(--gray500);
  color: var(--gray900);
}

.textInput:active {
  border: 1px solid var(--gray700);
  color: var(--gray900);
}

.textInput:disabled {
  border: 1px solid var(--gray300);
  background: var(--gray100);
  color: var(--gray400);
}

.textInput .error {
  border: 1px solid var(--error);
  color: var(--gray500);
}
