.rollingPaperList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin: 50px auto;
  max-width: 1160px;
}

.rollingPaperList h1 {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.24px;
}

.rollingPaperList .rollingPaperBoxList {
  overflow: hidden;
  width: 100%;
}
.rollingPaperList .rollingPaperBoxList .swiper-slide {
  width: 275px;
}
.rollingPaperSwiperBox {
  position: relative;
  width: 100%;
}
.rollingPaperSwiperBox > button {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%; transform: translateY(-50%);
  width: 40px; height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.90);
  border: 1px solid #DADCDF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}
.rollingPaperSwiperBox > button.prev {
  left: -20px;
}
.rollingPaperSwiperBox > button.next {
  right: -20px;
}

@media screen and (max-width: 1024px) {
  .rollingPaperSwiperBox > button {
    display: none;
  }
}