.backgroundImg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  justify-content: space-between;
  gap: 16px;
}

.backgroundImgBox {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.backgroundImg button {
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  width: 100%;
  padding-bottom: 100%;
  border: none;
}
.backgroundImg button > img {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.backgroundImg button > img {
  transition: all 0.3s;
}
.backgroundImg button:hover > img {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .backgroundImg {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}
