.backgroundImg {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.backgroundImgBox {
  width: 168px;
  height: 168px;
}

.backgroundImg button {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border: none;
}

.backgroundImg button.background1 {
  background-image: url('https://picsum.photos/id/683/3840/2160');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImg button.background2 {
  background-image: url('https://picsum.photos/id/24/3840/2160');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImg button.background3 {
  background-image: url('https://picsum.photos/id/599/3840/2160');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImg button.background4 {
  background-image: url('https://picsum.photos/id/1058/3840/2160');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImg .backgroundImgBox {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}
.backgroundImg button {
  transition: all 0.3s;
}
.backgroundImg button:hover {
  transform: scale(1.1);
}
